@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 51, 51, 51;
  --background-rgb: 51, 102, 100;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(51, 102, 100);
  font-family: 'Inter', sans-serif;
}



